@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.admin {
  background-color: black;
  min-height: 100vh;
  color: white;
}

.admin__button {
  padding: 10px;
  background-color: black;
  color: grey;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 200ms ease-in;
}

.admin__button:hover {
  transform: scale(1.2);
  color: white;
  font-weight: bold;
}

.admin__header {
  display: flex;
  justify-content: space-between;
}

.admin__instructions {
  padding: 10px;
}

.admin__help {
  color: gold;
  font-size: 18px;
  text-align: end;
  font-family: "Dancing Script", cursive;
}
