@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.admin {
  background-color: black;
  min-height: 100vh;
  color: white;
}

.admin__button {
  padding: 10px;
  background-color: black;
  color: grey;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.admin__button:hover {
  -webkit-transform: translateX(10px) scale(1.2);
  -ms-transform: translateX(10px) scale(1.2);
  transform: translateX(10px) scale(1.2);
  color: white;
  font-weight: bold;
}

.admin__button:focus {
  -webkit-transform: translateX(10px) scale(1.2);
  -ms-transform: translateX(10px) scale(1.2);
  transform: translateX(10px) scale(1.2);
  text-shadow: 0 4px 40px white;
  color: white;
  font-weight: bold;
  outline: none;
}

.admin__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.admin__instructions {
  padding: 10px;
}

.admin__help {
  color: gold;
  font-size: 18px;
  text-align: end;
  font-family: "Dancing Script", cursive;
}
