* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sidebarItem {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  padding: 10px;
}

.sidebarItem:hover :not(:last-child) {
  color: white;
}

.sidebarItem__icon {
  margin-right: 10px;
  margin-left: -10px;
}

.sidebarItem-active :not(:last-child) {
  color: white;
}

.sidebarItem__text {
  flex-grow: 1;
  margin-right: 10px;
}

.sidebarItem__text:hover {
  cursor: pointer;
  color: white;
}

.sidebarItem__favorite {
  margin-left: auto;
}
