.galleryItem {
  width: 30%;
  min-width: 280px;
  margin: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0 4px 60px black;
  transition: 200ms ease-in;
}

.galleryItem:hover {
  background-color: rgba(46, 45, 45, 0.404);
  color: white;
  cursor: pointer;
}

.galleryItem__img {
  width: 90%;
  border-radius: 10%;
  margin: 10px 0;
}

.galleryItem__name {
  font-size: 24px;
  font-weight: 700;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.galleryItem__description {
  font-size: 12px;
  font-weight: 400;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
