::-webkit-scrollbar {
  display: none;
}

.dashboard {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  min-height: 500px;
  padding-bottom: 50px;
}

.main__wrapper {
  flex: 0.7;
  overflow: scroll;
}
