::-webkit-scrollbar {
  display: none;
}

.dashboard {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 500px;
  padding-bottom: 50px;
}

.main__wrapper {
  -webkit-box-flex: 0.7;
  -ms-flex: 0.7;
  flex: 0.7;
  overflow: scroll;
  background-color: #121212;
}

@media only screen and (max-width: 1023px) {
  .main__wrapper {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .main__wrapper {
    -webkit-box-flex: 0.85;
    -ms-flex: 0.85;
    flex: 0.85;
  }
}

@media only screen and (min-width: 1800px) {
  .dashboard {
    padding-left: 7%;
    background-color: #040404;
  }
}
