.printData {
  padding: 10px;
}

.printData__header {
  font-weight: bold;
  font-size: 20px;
}

.printData__element {
  padding: 10px;
  background-color: grey;
  display: inline-block;
  margin: 15px 20px;
  border-radius: 10px;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.printData__element:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.printData__element:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0 4px 40px white;
  box-shadow: 0 4px 40px white;
  outline: none;
}

.printData__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.printData__add {
  cursor: pointer;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.printData__add:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.printData__add:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0 4px 40px white;
  box-shadow: 0 4px 40px white;
  border-radius: 50%;
  outline: none;
}

.printData__element.selected {
  background-color: white;
  color: black;
}

.printData__button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.printData__button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transform: translateX(10px) scale(1.2);
  -ms-transform: translateX(10px) scale(1.2);
  transform: translateX(10px) scale(1.2);
  text-shadow: 0 4px 40px white;
}

.printData__button:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  text-shadow: 0 4px 40px white;
  outline: none;
}
