* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.playlistItem {
  width: 30%;
  margin: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0 4px 60px black;
  transition: 200ms color ease-in;
}

.playlistItem__img {
  width: 90%;
  border-radius: 10%;
  margin: 10px 0;
}

.playlistItem__name {
  font-size: 24px;
  font-weight: 700;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlistItem__description {
  font-size: 12px;
  font-weight: 400;
  width: 90%;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
