.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  flex: 0.3;
  background-color: #040404;
  color: white;
  overflow: scroll;
  position: relative;
}

.sidebar__header {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #040404;
  padding-bottom: 10px;
}

.sidebar__logos {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.sidebar__logo {
  width: 50%;
  margin-bottom: 20px;
  margin: auto;
}

.sidebar__title {
  margin-top: 20px;
  margin-left: 10px;
  border-bottom: 1px white solid;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    flex: 0.15;
  }

  .sidebar__logos,
  .sidebar__header,
  .sidebar__title {
    display: none;
  }

  .mobile.sidebar {
    flex: 100vw;
  }

  .mobile.sidebar .sidebar__logos,
  .mobile.sidebar .sidebar__header,
  .mobile.sidebar .sidebar__title,
  .mobile.sidebar .sidebarItem {
    display: flex;
  }

  .mobile.sidebar .sidebar__header {
    flex-direction: column;
  }
}
