* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sidebar {
  flex: 0.3;
  background-color: #040404;
  color: white;
  padding: 10px;
}

.sidebar__logo {
  width: 100%;
  margin-bottom: 20px;
}

.sidebar__title {
  margin: 20px 0 10px;
  border-bottom: 1px white solid;
}
