.festivals {
  background-color: black;
  min-height: 100vh;
}

.carousel {
  height: 70vh;
  width: 100%;
  min-height: 350px;
  margin: auto;
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.541)),
    url(../../resources/img/back.jpg);
  background-position: center;
  background-size: cover;
}

.CarouselItem {
  height: 70vh;
  min-height: 350px;
}

.carousel__block {
  height: 60vh;
  min-height: 300px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.carousel__image {
  max-width: 80%;
  height: 80%;
  object-fit: scale-down;
  margin-top: auto;
  padding: 20px;
}

.carousel__text {
  font-weight: bold;
  text-transform: uppercase;
}

.carousel__button {
  font-size: 30px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 10px;
  transition: 200ms ease-in;
  cursor: pointer;
}

.carousel__block:hover .carousel__button {
  transform: scale(1.2);
}

.festivals__list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.festivals__login {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 30px;
  text-decoration: none;
  transition: 200ms ease-in;
  z-index: 1;
  background-color: black;
  border: none;
  cursor: pointer;
}

.festivals__login:hover {
  transform: scale(1.2);
  font-weight: bold;
}
