.sidebarItem {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  cursor: pointer;
  padding: 10px;
}

.sidebarItem:hover :not(:last-child) {
  color: white;
}

.sidebarItem:focus {
  color: white;
  text-shadow: 0 4px 40px white;
  outline: none;
}

.sidebarItem__icon {
  margin-right: 5px;
  margin-left: -10px;
}

.sidebarItem-active :not(:last-child) {
  color: white;
}

.sidebarItem__text {
  flex-grow: 1;
  margin-right: 10px;
}

.sidebarItem__text:hover {
  cursor: pointer;
  color: white;
}

.sidebarItem__title {
  font-size: 20px;
}

.sidebarItem__favorite {
  margin-left: auto;
}

.sidebarItem__favorite.sidebarItem-favorite {
  color: #1ed760;
}

.sidebarItem__favorite:hover {
  color: white;
  transform: scale(1.2);
}

.sidebarItem__favorite:focus {
  color: white;
  transform: scale(1.2);
  box-shadow: 0 4px 40px white;
  border-radius: 90%;
  outline: none;
}

.sidebarItem-favorite:hover {
  color: #1ed760;
}

.sidebarItem-favorite:focus {
  color: #1ed760;
  box-shadow: 0 4px 40px #1ed760;
}
