.form {
  margin: 10px 10px 0 10px;
  padding: 10px;
}

.form__input,
.form__button {
  padding: 10px;
  background-color: lightgray;
  border: 1px black solid;
  font-size: 20px;
}

.form__button {
  font-weight: bold;
  cursor: pointer;
}

.form__button:hover,
.form__input:hover {
  background-color: white;
}

.form__button:focus,
.form__input:focus {
  box-shadow: 0 4px 40px white;
  outline: none;
}

.form__error {
  color: red;
}
